{% extends 'root.html' %}
{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box mt-4">  <!-- Added mt-4 for margin-top -->
        <div class="box-header with-border">
          <h3 class="box-title">Election Results</h3>
        </div>
        <div class="box-body">
          <table id="resultsTable" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Position</th>
                <th>Winners</th>
                <th>Vote Count</th>
              </tr>
            </thead>
            <tbody>
              {% for result in results %}
              <tr>
                <td rowspan="{{ result.winners|length }}">{{ result.position.name }}</td>
                <td>{{ result.winners.0.candidate.fullname }}</td>
                <td>{{ result.winners.0.vote_count }}</td>
              </tr>
              {% for winner in result.winners|slice:'1:' %}
              <tr>
                <td>{{ winner.candidate.fullname }}</td>
                <td>{{ winner.vote_count }}</td>
              </tr>
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
